/* Branding Style */
.branding {
  font-size: 17px;
}

/* Showcase Styling */
.showcase {
  background: url("../images/showcaseArt.jpg") no-repeat;
  background-position: bottom;
  height: 600px;
  padding: 140px 100px;
  color: #fff;
}

.showcase h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.showcase hr {
  width: 100px;
  margin: auto;
  border-width: 3px;
  border-color: lightblue;
}

.showcase p {
  font-size: 16px;
  padding-bottom: 20px;
}

/* Home Section Styling */
.section {
  padding: 40px 0;
}

.section h2 {
  margin: 0;
  padding: 0;
}

.section .fa {
  font-size: 50px;
}

.section img {
  width: 100%;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  body {
    margin-top: 150px;
  }
  .showcase {
    height: 400px;
    padding: 60px 60px;
  }
}
